{
    "daemonize": false,
    "verbose_log": false,

    "api_listen_host": "0.0.0.0",
    "api_listen_port": 1234,

    "chromecast_scan_on_startup": false,
    "chromecast_debug_device": "192.168.2.101",

    "mqtt_broker_ip": "192.168.2.100",
    "mqtt_broker_port": 1883,

    "spotify": {
        "redirect_uri": "http://127.0.0.1:2000/test",
        "client_secret": "",
        "client_id": "",
        "spotipy_cache": "config.spotify_cache.json"
    },

    "pcloud": {
        "client_id": "",
        "client_secret": "",
        "auth_cache_file": "config.pcloud_auth_cache.json",
        "slideshow": {
            "cache_file": "config.pcloud_slideshow_cache.json",
            "src_paths": [
                        "/Foo",
                        "/Bar",
                        "/Foobar/baz"
                    ],
            "update_image_secs": 60,
            "extensions_filter": ["jpg", "jpeg"]
        }
    },

    "mfp": {
        "cache_file": "mfp.cache",
        "history_days": 7,
        "user": "",
        "pass": ""
    }
}

