/**********************************************/
/* MEDIA PLAYER STYLES */
/**********************************************/
.media_player_ctrl {
    border: 1px black solid;
    clear: both;
    display: block;
    width: 100%;
    overflow: hidden;
}

.media_player_error {
    width: 100%;
    background-color: orange;
    font-weight: bold;
}


.media_player_ctrl .media_no_icon {
    content:url('media_player_icons/chromecast.png');
    float: left;
    max-width: 80px;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 500px;
}

.media_player_ctrl .media_icon {
    float: left;
    max-width: 100px;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 500px;
}

.media_player_small_control {
    float: left;
    width: calc(100% - 120px); /* 100% - icon width */
}

.media_player_small_control .media_player_info {
    overflow: hidden;
    clear: left;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.media_player_small_control .media_player_info p {
    display: inline;
    line-height: 5px;
}

.media_player_small_control .media_player_media_info {
    overflow: hidden;
    clear: left;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.media_player_small_control .media_player_media_info p {
    display: inline;
    line-height: 5px;
}

.media_player_ctrl .mini_control {
    width: 100%;
    clear: both;
}

.media_player_ctrl .media_player_extended_control {
    clear: both;
}

.media_player_ctrl .mini_control .volumeslider {
    width: calc(90% - 150px);
    min-width: 150px;
    display: inline-block;
}

/* Replace the mute checkbox with an image */
.media_player_ctrl .mini_control .btn_mute {
    display: inline;
}

.media_player_ctrl .mini_control .btn_mute input[type="checkbox"] {
    display:none;
}

.media_player_ctrl .mini_control .btn_mute input[type="checkbox"] + label {
    background:url('media_player_icons/volume_unmuted.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .mini_control .btn_mute input[type="checkbox"]:checked + label {
    background:url('media_player_icons/volume_muted.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

/* Replace the extended panel open button with an image */
.media_player_ctrl .mini_control .btn_extended_control_open {
    display: inline;
}

.media_player_ctrl .mini_control .btn_extended_control_open input[type="checkbox"] {
    display:none;
}

.media_player_ctrl .mini_control .btn_extended_control_open input[type="checkbox"] + label {
    background:url('media_player_icons/extended_control_open.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .mini_control .btn_extended_control_open input[type="checkbox"]:checked + label {
    background:url('media_player_icons/extended_control_close.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .control_button {
    vertical-align: top; /* Required to align buttons with checkboxes and sliders */
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0px;
    height: 30px;
    width:  30px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .btn_play { background-image: url(media_player_icons/playpause.png); }
.media_player_ctrl .btn_stop { background-image: url(media_player_icons/stop.png); }
.media_player_ctrl .btn_prev { background-image: url(media_player_icons/prev.png); }
.media_player_ctrl .btn_next { background-image: url(media_player_icons/next.png); }


.media_player_ctrl .media_player_extended_control {
    display: none;
    width: 100%;
}

.media_player_ctrl .media_player_extended_control .timeslider {
    width: calc(90% - 200px); /* slider width - width btns */
    min-width: 150px;
    display: inline-block;
}

.media_player_ctrl .media_player_extended_control .media_player_extended_control_positionbox {
    text-align: center;
}

@media (min-width: 200px) {
    /* TODO HIDE UI ELEMENTS IN SMALL SCREENS */
}

/**********************************************/
/* MQTT INFO STYLES */
/**********************************************/

#mqtt_network_status td {
    border: 1px solid black;
    min-width: 100px;
    text-align: center;
}

/**********************************************/
/* LAMP STYLES */
/**********************************************/

.lamp_li {
    list-style-type: none;
    border: 1px black solid;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.lamp_is_on_checkbox {
    width: 40px;
    margin: 0;
    padding: 0:
}

.lamp_open_panel_ctrl {
    /*display: inline-block;*/
    width: 250px;
    margin: 0;
    padding: 0:
}

.lamp_set_brightness_slider {
    margin: 0;
    padding: 0:
}

@media (max-width: 900px) {
    .lamp_set_brightness_slider {
        float: none;
        width: 100% !important;
    }
}


/**********************************************/
/* MFP STYLES */
/**********************************************/

#mfp_eatmeter_ctrl {
    width: 100%;
    border: 1px solid black;
    font-size: small;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

#mfp_eatmeter_bar {
  width: 100%;
  box-shadow: 0 5px 5px -5px #999 inset;
}
#mfp_eatmeter_bar::-webkit-meter-suboptimum-value {
  background-image: linear-gradient(
    90deg, 
    #8C5 0%, 
    #F33 100%
  );
  background-size: 100% 100%;
}

#mfp_exercise_legend {
    float: left;
    font-size: small;
    margin-top: 5px;
}

#mfp_exercise {
    margin-top: 5px;
    float: left;
}

#mfp_exercise li {
    font-size: small;
    border: 1px solid black;
    padding: 2px;
    float: left;
    list-style-type: none;
}
#mfp_exercise .exercise {
    background-color: green;
}

#mfp_exercise .noexercise {
    text-decoration: line-through wavy red;
}

#mfp_stats_title {
    font-size: smaller;
}

#mfp_eatmeter_desc {
    font-size: smaller;
}

#mfp_chart {
    margin-top: 20px;
}

