<a href="#" onClick="$('#Baticueva_TV_extras_div').toggle(); return false">
    <img src="shortcut_icons/more.png" style="height: 30px; width: 100px"/>
</a>

<div style="clear:both;">
    <div id="Baticueva_TV_extras_div" style="display: none;">
        <a href="#" onClick="return app.invoke_media_player_action('Baticueva TV', '/pcloud_slideshow/start');">
            <img src="shortcut_icons/Camera-photo.svg.png" class="player_shortcut"/></a>
        <a href="#" onClick="return app.invoke_media_player_action('Baticueva TV', '/pcloud_slideshow/stop');">
            <img src="shortcut_icons/Camera-no-photo.svg.png" class="player_shortcut"/></a>

        <a href="#" onClick="return app.invoke_media_player_action('Baticueva TV', '/ZMF/thing/Baticueva TV/youtube/VMl0GbiVEyA');">
            <img src="shortcut_icons/pepe.png" class="player_shortcut"/></a>
        <a href="#" onClick="return app.invoke_media_player_action('Baticueva TV', '/ZMF/thing/Baticueva TV/youtube/B1svxwMuLf4');">
            <img src="shortcut_icons/granja.png" class="player_shortcut"/></a>
        <a href="#" onClick="return app.invoke_media_player_action('Baticueva TV', '/ZMF/thing/Baticueva TV/youtube/q4xKvHANqjk');">
            <img src="shortcut_icons/test.jpg" class="player_shortcut"/></a>
    </div>
</div>
