<a href="#" onClick="return app.invoke_action('/scene_set/dinner');">
    <img src="shortcut_icons/dinner.jpg" class="player_shortcut"/></a>
<a href="#" onClick="return app.invoke_action('/scene_set/living_room_evening');">
    <img src="shortcut_icons/evening.jpg" class="player_shortcut"/></a>
<a href="#" onClick="return app.invoke_action('/scene_set/sleepy');">
    <img src="shortcut_icons/sleepy.jpg" class="player_shortcut"/></a>
<a href="#" onClick="return app.invoke_action('/scene_set/world_off');">
    <img src="shortcut_icons/world_off.png" class="player_shortcut"/></a>
<!--a href="#" onClick="return app.invoke_action('/scene_set/test');">
    <img src="shortcut_icons/test.jpg" class="player_shortcut"/></a-->
